<h1>test-buzzer</h1>

<div class="controller-view">
  <div class="buzzer buzzer-1">
    <button type="button" class="btn red"></button>
    <button type="button" class="btn orange"></button>
    <button type="button" class="btn blue"></button>
    <button type="button" class="btn green"></button>
    <button type="button" class="btn yellow"></button>
  </div>

  <div class="buzzer buzzer-2">
    <button type="button" class="btn red"></button>
    <button type="button" class="btn orange"></button>
    <button type="button" class="btn blue"></button>
    <button type="button" class="btn green"></button>
    <button type="button" class="btn yellow"></button>
  </div>
</div>
