<h1>test-buzzer</h1>

<div class="controller-view">
  <div class="buzzer buzzer-1">
    <button #buzzer1Red type="button" class="btn red" (click)="handleClick()"></button>
    <button #buzzer1Orange type="button" class="btn orange"></button>
    <button #buzzer1Blue type="button" class="btn blue"></button>
    <button #buzzer1Green type="button" class="btn green"></button>
    <button #buzzer1Yellow type="button" class="btn yellow"></button>
  </div>

  <div class="buzzer buzzer-2">
    <button #buzzer2Red type="button" class="btn red"></button>
    <button #buzzer2Orange type="button" class="btn orange"></button>
    <button #buzzer2Blue type="button" class="btn blue"></button>
    <button #buzzer2Green type="button" class="btn green"></button>
    <button #buzzer2Yellow type="button" class="btn yellow"></button>
  </div>
</div>
