<div *ngIf="!gameStarted" class="description">
  <h1>Formen Zählen</h1>
  <p></p>
</div>

<div [hidden]="!gameStarted">
  <button id="player1-counter" *ngIf="isCountingEnabled" type="button" class="btn red" [class.pressed]="buzzer1.red"></button>
  <button id="player2-counter" *ngIf="isCountingEnabled" type="button" class="btn red" [class.pressed]="buzzer2.red"></button>

  <div id="wanted-shape-text">Zähle alle {{getWantedShapeText()}}</div>
  <canvas #shapeCounterCanvas></canvas>

  <game-score id="player1-score" [rate]="gameService.getPlayer1Score()" [max]="gameService.getMaxScore()"></game-score>
  <game-score id="player2-score" [rate]="gameService.getPlayer2Score()" [max]="gameService.getMaxScore()"></game-score>
</div>

<countdown #startCountdown (countDownEnded)="onStartCountdownEnded()"></countdown>
<countdown *ngIf="gameStarted" #countdown (countDownEnded)="onCountdownEnded()"></countdown>
